---
title: Entdecken
---

<section class ="half loose scc bg-clear flex-col">
	<h1>{{page.title}}</h1>


	<div class = "large bg padding">
		{{ site.content | find: "id", "/content/discover_intro" }}
	</div>

</section>


