---
title: Mitmachen
---

<section class ="fill half loose scb">
	<h1>{{page.title}}</h1>

	<p>
		Wir freuen uns über Kontakte zu anderen Forscher*innen, die zur Geschichte der Bio- und Medizinethik in Deutschland oder einem verwandten Thema arbeiten. Sie können sich hier in unsere Mailingliste eintragen.
		
	</p>

	<form 
		method = "post" 
		action = "https://lserv.uni-jena.de/mailman/subscribe/gbme"
		target = "_blank"
	>
		<input type = "text" 	name = "fullname" 	placeholder = "Name"/>

		<input type = "email" 	name = "email" 		placeholder = "E-Mail-Adresse"/>

		<button type = "submit">senden</button>
	</form>

</section>