---
title: Geschichte der Bio- und Medizinethik
---
<section class = "tiles sca">

	<article class = "tile welcome box">

		<img src = "assets/images/example.jpg">

		<h1 class = "pcb" > {{page.title}} </h1>	

	</article>



	<h2 class = "tile claim sca padding">
		{{ site.content | find : "id" , '/content/claim' }}
	</h2>
	



	<article class = "tile newsletter scc">

		<img src = "assets/images/Mail.jpg">

		<h3>Newsletter</h3>
		<h2>Aktuelles aus der Forschung</h2>

	</article>


	<article class ="tile goals scc">

		<div>
			{{ site.content | find : "id" , '/content/goals' }}
		</div>
		<div class ="box">
			<h1 class = "pcb"> Unsere Ziele </h1>
		</div>

	</article>



	<article class = "tile network scb">

		<img src = "assets/images/Handshake_1_.jpg">

		<h3>Vernetzen</h3>
		<h2>Austausch von Forscher*innen</h2>	

	</article>



	<article class = "tile presentation scd">

		<img src = "assets/images/conference.jpg">

		<h3>Präsentieren</h3>
		<h2>Projekte + Forschungsergebnisse</h2>

	</article>
</section>