---
title: Kennenlernen
---

<section class = "scc loose border">
	<a href ="team.html">
		<h1>{{page.title}}</h1>

		<div class = "tiles bg-clear">

			{% assign organizers = site.individuals | where:"organizer",true %}
			{% for i in organizers %}
				{% include profile.html individual=i class="tile scb"%}
			{% endfor %}

		</div>
	</a>
</section>