---
title: Forschen
---

<section class ="fill sca loose">
	<a href ="research_projects.html">
		<h1>{{page.title}}</h1>

		<div class = "tiles">

			{% for project in site.projects limit:4 %}	

				
				{%- capture class -%} 
					tile tile box wide {% cycle 'pca', 'pcb', 'scc' %}
				{%- endcapture -%}


				{% include project_preview.html project= project class = class %}
				
				{% assign step = forloop.index | modulo: 2 %}

				{% if step == 0 and forloop.last == false %}

		</div>
		<div class = "tiles">	

				{% endif %}

			{% endfor %}

		</div>
	</a>
</section>