---
title: Aktuelles
category: blog
image: /assets/images/Calender.jpg
---

<h1 class ="text-pca break">{{page.title}}</h1>

<section class ="border scc bg-light padding">
	<div class ="reset-colors flex-col">

		<img 
			class	= "grey"
			src		= "{{page.image}}"
		/>
		{{ site.content | find: "id", "/content/blog_intro" }}
	</div>
</section>

{% for post in site.posts %}
	<section class = "loose border {% cycle "scb", "sca", "scd" %} bg-light">	
		<article class = "reset-colors">
			{% include post.html post=post preview=true %}
		</article>
	</section>
{% endfor %}