---
layout: default
category: discover
image: /assets/images/Files.jpg
---

<h1 class  ="text-pca break" >Entdecken</h1>
<section class ="border scc bg-light padding grow">
	<div class ="reset-colors flex-col">

		<img 
			class	= "grey"
			src		= "{{page.image}}"
		/>
		{{ site.content | find: "id", "/content/discover_intro" }}
	</div>
</section>

<section class = "flex-col padding">
	{{site.resources}}
</section>