---
category: participation
---

<section class ="loose border scb bg-light">
	<div class ="reset-colors">
		{% assign post=site.posts | find: "tags", "particpation" | limit : 1 %}
		{% include post.html post=post %}
	</div>
</section>

{{site.sections | where: "id", "/sections/engage" }}
{{site.sections | where: "id", "/sections/partners" }}

