---
title: Einblicke in die Forschung
category: research
---

<h1 class ="text-pca break">{{page.title}}</h1>

{% for project in site.projects %}

	
	<a 
		class 	= "flex gaps padding wrap"
		href	= "{{project.url | prepend : site.baseurl}}" 
	>

		<aside>
			{%- capture class -%} 
				tile box cap_h_2_3  {% cycle 'scc', 'pcb', 'pca' %}
			{%- endcapture -%}
		{% include project_preview.html project = project class = class %}

		</aside>


		<article class = "tile wide full padding project pcb cap_h_2_3 grow">

			<hgroup>
				<h3>{{project.year}}</h3>
				<h2>{{project.title}}</h2>
			</hgroup>

			<div class = "ellipsis">										
				<div class ="content">
					{{ project.content | excerpt | strip_html}}
				</div>
				<span style = "display:inline-block; white-space:nowrap"> ... [ weiterlesen ]</span>
			</div>

		</article>

	</a>

{%endfor%}

