---
title: Über uns
category: team
---

<section 
	class 	= "scc loose border"
>
	<div class ="flex wrap">
		<h1>{{page.title}}</h1>

		<h2 class = "pcb color-contrast"> 
			{{ site.content | where : "id" , '/content/claim' }}
		</h2>
	</div>

	{% assign organizers = site.individuals | where:"organizer",true %}
	{% for organizer in organizers %}

		{%- capture o_class -%} 
			tile {% cycle 'sca', 'scb', 'scc', 'scd' %}
		{%- endcapture -%}

		{%- capture q_class -%} 
			{% cycle 'text-sca', 'text-scb', 'text-scc', 'text-scd' %}
		{%- endcapture -%}

		{%- capture flip -%} 
			{% cycle '', 'flip' %}
		{%- endcapture -%}		

		<div class 	= "with-profile quotes {{flip}}">


			{% include profile.html individual=organizer long=true class=o_class %}

			<div class ="{{q_class}}">
				<div class = "color-contrast pcb">
					{{organizer.output}}
				</div>
			</div>

		</div>

	{% endfor %}

</section>

