<footer class = "scc">
	<div class = "content-max">

		<article>

			<h4>Kontakt</h4>

			<p>{{site.data.contact.tel}}</p>

			<p>{{site.data.contact.email}}</p>

		</article>






		<article>
			{{ site.content | find : "id" , '/content/about' }}
		</article>






		<article>
			<h4>Impressum</h4>
			{{ site.content | find : "id" , '/content/impressum' }}
		</article>



		<article >
			<h4> Newsletter </h4>

			<p>
				Unser Newsletter
			</p>

			<form 
				method = "post" 
				action = "https://lserv.uni-jena.de/mailman/subscribe/gbme"
				target = "_blank"
			>
				<input type = "text" 	name = "fullname" 	placeholder = "Name"/>

				<input type = "email" 	name = "email" 		placeholder = "E-Mail-Adresse"/>

				<button type = "submit">senden</button>
			</form>

		</article>

	</div>
</footer>