<header>
	
	<div class ="content-max">

		<div class ="menu scb">
			<span></span>
			<span></span>
			<span></span>
		</div>		

		<nav>	
			{% include logo.html %}


			{% for item in site.data.navigation.header %}

				<a 	href ="{{item.url}}"
					class ="{%if item.category == page.category %} active {%endif%}"
				>
					{{item.label}}
				</a>

			{% endfor %}				

		</nav>

		<div class ="close sca">
			<span></span>
			<span></span>
		</div>		

		{% include logo.html %}

	</div>

</header>