<article class ="flex wrap gaps">

	{% if include.preview %}
		<aside>
			{% if include.post.image[0] %}
				<img 
					src 	= "assets/images/{{include.post.image[0]}}"
					class 	= "grey" 
				/>	
			{% else %}		
				<img 
					src 	= "assets/images/example.jpg"
					class 	= "grey" 
				/>	
			{% endif %}
		</aside>
	{% else %}
		<aside>
			{% for image in include.post.images %}
				<img 
					src 	= "assets/images/{{image}}"
					class 	= "grey" 
				/>
			{% endfor %}		
		</aside>
	{% endif %}


	<div class = "grow cap_w_dim">
		<hgroup>
			<h4>{% include date.html date=include.post.date %}</h4>
			<h1 class = "text-pca"><a href = "{{include.post.url}}" >{{ include.post.title }}</a></h1>
		</hgroup>

		{% if include.preview %}
			{{ include.post.content | truncatewords: 50}} <a href = "{{include.post.url}}">[ weiterlesen ]</a>
		{% else %}
			{{ include.post.content}}
		{% endif %}

	</div>

</article>