{% assign individual=include.individual%}

<article
	class 	= "tile portrait {{include.class}} {% if include.long %}long{%endif%}"
>
	<img src = "assets/images/{{individual.image}}"/>	
	

	{% if include.long %}



		<h3> 
			{{individual.position}} 			
		</h3>
		<h2>
			{{individual.name}} {% if individual.prefix %}, {{ individual.prefix }} {% endif %}
		</h2>

		<p>{{individual.extended | default: individual.brief}}</p>
	
		{% if individual.contact%}

			{% assign contact = individual.contact %}
			<div>
				<h4>Kontakt</h4>
				<p>
					{% if contact.email%}	<a href = "mailto:{{contact.email}}">{{contact.email}}</a> 	<br/> {% endif %}
					{% if contact.www%} 	<a href = "{{contact.www}}">{{contact.www}}</a>				<br/> {% endif %}
					{% if contact.tel%} 	<a href = "tel:{{contect.tel}}">{{contact.tel}}</a>			<br/> {% endif %}
				</p>
				<p>
					{{contact.misc | join: "<br>"}}				
				</p>
			</div>
		{% endif %}




	{% else %}




		<h3> 
			{{individual.position | default: individual.prefix}} 
		</h3>
		<h2>
			{{individual.name}} 		
		</h2>

		{% if individual.brief %}
			<p>{{individual.brief}}</p>
		{% endif %}




	{% endif %}

</article>