<article class ="{{include.class}}">	
			
	<img class = "fit grey" src ="assets/images/{{include.project.image | default: 'example.jpg'}}">

	<div class 	= "tal text-pca">		

		<hgroup>
			<h3>
				{% assign id 		= include.project.author | prepend : "/individuals/" %}
				{% assign author 	= site.individuals | find: 'id', id %}

				{{author.name}}
				{% if author.prefix %}, {{author.prefix}} {% endif %}
			</h3>
			<h2>
				{{include.project.title}}
			</h2>
		</hgroup>

	</div>

</article>
