@font-face {
    font-family: 	"Roboto";
    src: 			url('Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 	700;
    font-style: 	normal;
}

@font-face {
    font-family: 	"Roboto";
    src: 			url("Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 	400;
    font-style: 	normal;
}

@font-face {
    font-family: 	"Roboto";
    src: 			url('Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 	normal;
    font-style: 	italic;
}



:root {
	--primary-color-A:		20, 47, 254; 	/*#142ffe*/
	--primary-color-a: 		rgb(var(--primary-color-A));

	--primary-color-B: 		255, 255, 255;	/*#ffffff*/
	--primary-color-b: 		rgb(var(--primary-color-B));



	--secondary-color-A:	187, 176, 253;	/*#bbb0fd*/
	--secondary-color-a:	rgb(var(--secondary-color-A));

	--secondary-color-B:	213, 179, 254; 	/*#d5b3fe*/
	--secondary-color-b:	rgb(var(--secondary-color-B));

	--secondary-color-C:	113, 211, 245; 	/*#71d3f5*/
	--secondary-color-c:	rgb(var(--secondary-color-C));

	--secondary-color-D:	74, 202, 208; 	/*#4acad0;*/
	--secondary-color-d:	rgb(var(--secondary-color-D));



	--tertiary-color-A:		196,255, 253;	/*#c4fffd;*/
	--tertiary-color-a:		rgb(var(--tertiary-color-A));


	--tertiary-color-B:		0, 0, 0;		/*#000000;*/
	--tertiary-color-b:		rgb(var(--tertiary-color-B));

	--base-text-color:		50, 50, 50;

	--dim:	18rem;
}



.logo.gbme > * {
	font-family:			Roboto;
	font-weight:			bold;
	font-size:				1em;
	word-spacing: 			0;
}

.logo.gbme .G { color: var(--secondary-color-a);}
.logo.gbme .B { color: var(--secondary-color-b);}
.logo.gbme .M { color: var(--secondary-color-c);}
.logo.gbme .E { color: var(--secondary-color-d);}


.pca { --color: var(--primary-color-A); }
.pcb { --color: var(--primary-color-B); 	--contrast: var(--base-text-color);}

.sca { --color: var(--secondary-color-A);  	--contrast: 255, 255, 255; }
.scb { --color: var(--secondary-color-B);  	--contrast: 255, 255, 255; }
.scc { --color: var(--secondary-color-C);  	--contrast: 255, 255, 255; }
.scd { --color: var(--secondary-color-D);  	--contrast: 255, 255, 255; }

.tca { --color: var(--tertiary-color-A); }
.tcb { --color: var(--tertiary-color-B); }


.text-pca { color: rgb(var(--primary-color-A))!important; }
.text-pcb { color: rgb(var(--primary-color-B))!important; }


.text-sca { color: rgb(var(--secondary-color-A))!important; }
.text-scb { color: rgb(var(--secondary-color-B))!important; }
.text-scc { color: rgb(var(--secondary-color-C))!important; }
.text-scd { color: rgb(var(--secondary-color-D))!important; }


.text-tca { color: rgb(var(--tertiary-color-A))!important; }
.text-tcb { color: rgb(var(--tertiary-color-B))!important; }

.tal { text-align:	left	!important;	}
.tac { text-align:	center	!important; }
.tar { text-align:	right	!important;	}

.float-right 	{ float: right;}
.float-left 	{ float: left;}


.bg-clear {
	background-color: 		transparent !important;
	color:					rgb(var(--color)) !important;
}

.bg {
	background-color:		rgb(var(--color)) !important;	
	color:			 		rgb(var(--contrast)) !important;
}

.bg-light {
	background-color:		rgba(var(--color), 0.15) !important;	
}


.fg {
	color:					rgb(var(--color)) !important;	
	background-color:		rgb(var(--contrast)) !important;	
}

.color-contrast {
	color:					rgb(var(--contrast)) !important;		
}

.reset-colors {
	--color:				var(--base-text-color) !important;	
	color:					rgb(var(--color)) !important;
	background-color:		transparent !important;
}

.vmargin {
	margin-top:				1rem;
	margin-bottom:			1rem;
}

.vvmargin {
	margin-top:				2rem;
	margin-bottom:			2rem;
}

.padding {
	box-sizing:				border-box;
	padding:				1rem;
}

.hpadding {
	box-sizing:				border-box;
	padding:				0 1rem;	
}

.cap_h_dim {
	max-height:				var(--dim) !important;
	min-height:				var(--dim) !important;
}

.cap_w_dim {
	max-width:				var(--dim) !important;
	min-width:				min( var(--dim), 100% ) !important;
}

.cap_w_3_2 {
	max-width:				calc( 3 / 2 * var(--dim)) !important;
	min-width:				min( calc( 3 / 2 * var(--dim)), 100% ) !important;
}

.cap_w_2_3 {
	max-width:				calc( 2 / 3 * var(--dim)) !important;
	min-width:				min( calc( 2 / 3 * var(--dim)), 100% ) !important;
}


.cap_h_2_3 {
	max-height:				calc(2 / 3 * var(--dim)) !important;
	min-height:				calc(2 / 3 * var(--dim)) !important;
}

.cap_h_3_2 {
	max-height:				calc(3 / 2 * var(--dim)) !important;
	min-height:				calc(3 / 2 * var(--dim)) !important;
}

.contain {
	object-fit:				contain!important;
	object-position: 		50%;
}

.cover {
	object-fit:				cover!important;
	object-position: 		50%;
}



.large {
	font-size: 				1.5em !important;
}

.content-max {	
	max-width:				calc(4 * var(--dim));
	padding-left:			1rem;
	padding-right:			1rem;
	margin:					auto;
}


@media (max-width: 30rem) {
	.content-max {
		padding-left:			0;
		padding-right:			0;
	}
}

html {
	font-size:				1rem;
}

html,
body {
	display:				block;
	min-height:				100vh;
	margin:					0;
	padding:				0;
	background-color:		var(--primary-color-b);
	font-family:			Roboto;
	font-weight:			normal;
}

body {
	display:				flex;
	flex-direction:			column;
	padding-top:			3rem;
	color:					rgb(var(--contrast));
}



body > header {
	position:				fixed;
	top:					0;
	left:					0;
	right:					0;
	background-color:		var(--primary-color-b);	
	box-shadow:				0 0 1rem 0 rgba(0,0,0,0);	
	transition:				box-shadow 300ms ease-out;	
	z-index:				100;
}

body > header > * {
	max-width:				calc(3.5 * var(--dim));
	margin:					auto;
	display:				flex;
	padding:				0 1em;
	justify-content:		space-between;
	align-items:			center;
	height:					3rem;
}

body.scrolled > header {
	box-shadow:				0 0 1em 0 rgba(0,0,0,0.2);	
}


body > header .logo {
	font-size:				2em;
	order:					0;
}

body > header nav {
	display:				flex;	
	align-items:			center;
	order:					2;
}

body > header nav a {
	font-weight:			bold;
}

body > header  .close, 
body > header  .menu {
	display:				none;
	border-radius:			100%;	
}



.close,
.menu {	
	display:				flex;
	position:				relative;
	width:					1em;
	height:					1em;
	background:				rgb(var(--color));
	flex-direction:			column;
	justify-content: 		space-around;
	align-items:			center;
	padding:				0.26em 0;
	font-size:				3em;
	box-sizing: 			border-box;
	z-index:				10;
}


.close > *,
.menu > * {
	flex:					0 0 auto;
	display:				block;
	width:					0.55em;			
	border-radius:			0.04em;
	outline:				0.02em solid rgb(var(--contrast));
}


.close {
	justify-content: center;
}

.close > :first-child {
	transform:				rotate(45deg);
	transform-origin:		50% 50%;
}

.close > :last-child {
	transform:				rotate(-45deg);
	transform-origin:		50% 50%;
}

body > header  nav .logo {
	display:				none;
}


body > header  nav a {
	font-family:			Roboto;
	font-size:				1.25em;	
	text-transform: 		uppercase;
	text-decoration:		none;

	margin-left:			2em;
	color:					var(--secondary-color-b);
}

body > header  nav a.active {
	color:					var(--primary-color-a);
}


@media (max-width: 30em) {
	body > header {
		padding: 					0 1em;
	}

	h1 {
		font-size: 					2em !important;
	}
}

@media (max-width: 65rem) {

	body {
		padding-top:				calc(0.66 * 5rem);
	}

	body > header {
		font-size:					0.66em;
	}


	body > header > * > .logo {
		display:					block;
		order:						0;
	}

	body > header nav  .logo {
		display:					block;
	}

	body > header  .close {
		display:					none;
		z-index:					100;
	}
	
	body > header  .menu {
		display:					flex;	
		order:						1;	
	}

	body > header nav:hover,
	body > header .menu:hover ~ nav {
		transform:					translateX(0);
	}

	body > header nav:hover ~ .logo,
	body > header .menu:hover ~ .logo {
		display:					none!important;
	}

	body > header nav:hover ~ .close,
	body > header .menu:hover ~ .close {
		display:					flex!important;

	}

	body > header nav {
		position:					fixed;		
		display:					flex;
		flex-direction:				column;
		align-items:				stretch;
		padding-top:				0rem;
		padding-left:				0rem;
		padding-bottom:				0rem;
		min-width:					var(--dim);
		right:						0;
		top:						0;
		bottom:						0;
		background:					#fff;		
		box-sizing:					border-box;
		box-shadow:					0 0 1em 0 rgba(0,0,0,0.5);
		z-index:					100;
		transform:					translateX(calc(100% + 2em) );
		transition:					transform 300ms ease-in;
		font-size:					2em !important;
	}

	body > header nav > * {
		display:					block;
		padding-left:				3rem;
		padding-top:				1rem;
		padding-bottom:				1rem;
		padding-right:				1rem;		
		margin:						0!important;
	}

	body > header nav > *:hover {
		background:					rgba(0,0,0,0.04);
	}

}


h1 {
	font-size:				2.51em;
	margin:					2rem 0;
	font-weight:			bold;
}


h2 {
	font-size:				1.4em;
	margin:					1em 0;
	font-weight:			bold;
}

h3 {
	font-size:				1.1em;
	margin:					0;
	font-weight:			bold;
}

h4 {
	font-size:				1em;
	font-weight:			bold;
	margin:					0;
}

hgroup > * {
	margin:					0 !important;
}

hgroup h3,
hgroup h4 {
	font-weight:			normal;
}


a {
	color:					inherit;
	text-decoration:		none;
}


body > .content-max {
	display:				flex;	
	flex-direction:			row;
	flex-wrap:				wrap;
	margin-left:			auto;	
	margin-right:			auto;	
	align-items:			stretch;
}

body > .content-max  {
	flex:					1 0 0;
}


body > .content-max > * {
	flex:					1 0 auto;
	max-width:				100%;
	overflow:				hidden;
}

img {
	display:				block;
	height:					var(--dim);
	width:					auto;
	max-width:				100%;

	object-fit: 			cover;
	object-position: 		50% 50%;
}

img.fit {
	position:				absolute;
	top:					0;
	left:					0;
	bottom:					0;
	right:					0;
	object-fit:				contain;
}

/* sections */



section {
	margin-bottom:			1rem;
}

section > a {
	display:				block;
	font-weight:			inherit;
}

section.main{
	margin:					1rem
}

section.main > .tiles {
	margin:					1rem;
	justify-content:		space-between;
}

section.half {
	box-sizing:				border-box;
	flex:					1 1 50% !important;
	max-width:				50%;
}

section.loose {	
	padding:				2rem;
}


section.loose h1 {
	margin-bottom:			2rem;
	text-transform: 		uppercase;
	font-weight:			bold;
}


section.loose > a {
	margin:					-2rem;
	padding:				2rem;
}


section.fill {
	background-color:		rgb(var(--color));
	color:					rgb(var(--contrast));
}

section.border {
	color:					rgb(var(--color));
	border-color:			rgb(var(--color));
	border-width:			0.5rem;
	border-style:			solid;
	box-sizing:				border-box;
	background-color:		rgb(var(--contrast));	
}

section.border.loose {
	padding:				1.5rem;
}


@media (max-width: 30rem) {
	section.loose {	
		padding:				1rem;
	}


	section.loose h1 {
		margin-bottom:			1rem;
	}


	section.border {
		color:					rgb(var(--color));
		border-color:			rgb(var(--color));
		border-width:			0.5rem;
		border-style:			solid;
		box-sizing:				border-box;
		background-color:		rgb(var(--contrast));	
	}

	section.border.loose {
		padding:				0.5rem;
	}

}



/** tiles **/

.tiles {	
	position:				relative;
	display:				flex;
	flex-wrap: 				wrap;	
	background-color:		rgb(var(--color));
	color:					rgb(var(--contrast));
	clear:					both;
}


.tiles * {
	position:				relative;
}





.tile { 
	display:				flex;
	position:				relative;
	box-sizing: 			border-box;
	flex-direction:			column;
	justify-content: 		space-around;
	align-items:			stretch;
	box-sizing: 			border-box;
	border:					1px solid var(--primary-color-b);
	min-width:				min( var(--dim), 100%);	
	min-height:				var(--dim);	
	background-color:		rgb(var(--color));
	color:					rgb(var(--contrast));
	margin:					0;
	overflow:				hidden;
}

.tile.wide {	
	flex:					0 0 40%;	
	width:					40%;
	min-width:				20rem;
	max-width:				calc(3 * var(--dim));
	min-height:				calc(2 / 3 * var(--dim));
}

.tile.high {
	min-height:				min( 100vw, calc( 3 / 2 * var(--dim)) );
}

.tile h2,
.tile h3 {
	margin:					0;
}

.box > *:not(img) {
	position:				absolute;
	display:				block;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
	
	padding:				1rem !important;
	margin:					1rem !important;

	flex-direction:			column;
	border-width:			0.33rem;
	border-style:			solid;
	display:				flex;
	justify-content:		center;
	align-items:			center;	
	color: 					rgb(var(--color)); 
	border-color: 			rgb(var(--color)); 
	background-color: 		rgba(255, 255,  255, 0.5);
	text-align:				center;
}


.grey {
	filter: 				grayscale(100%);
}

.tile.box > img {
	filter: 				grayscale(100%) contrast(80%) brightness(100%) blur(2px);
	transform:				scale(1.2);
}




.tile > img {
	flex:					1 0 0;
	filter: 				grayscale(100%);
	object-fit: 			cover;
	overflow:				hidden;	
	z-index:				0;
	height:					unset;
	width:					unset;
}




.tile:not(.box) > img ~ * {
	flex:					0 0 auto;
	background-color:		rgba(var(--color), 1);
	color:					rgb(var(--contrast));
	padding:				0 1rem;
	margin:					0;
}


.tile > img ~ *:first-child {
	padding-top:			1rem;		
}

.tile > img ~ *:last-child {
	padding-bottom:			1rem;	
}

.tile > img + * {
	padding-top:			1rem !important;
}


.tile > img ~ h2 {
	font-size:				1em;
}

.tile > img ~ h3 {
	font-size:				0.9em;
}



.tile > img ~ p {
	font-size:				0.9rem;
	line-height:			1.75em;
	margin:					1rem 0 !important;
}



.tile.portrait {
	flex:				0 0 auto;
	width:				calc( 1     * var(--dim) );		
	max-height:			calc( 4 / 3 * var(--dim) );
	overflow:			hidden;
	justify-content:	flex-start;
}

.tile.portrait.long {
	height:				auto;
	max-height:			unset;
} 

.tiles .tile.portrait {
	margin:				1rem !important;
}

.tile.portrait > :last-child {
	flex:					1 1 0;
	display:				flex;
	align-items:			stretch;
	justify-content: 		center;
	flex-direction:			column;
}

.tile.portrait img {
	flex:					0 0 0;
	height:					calc( 2 / 3 * var(--dim));
	min-height:				calc( 2 / 3 * var(--dim));
	max-width:				calc( 3 / 2 * var(--dim) );
}

.tile.portrait.long img {
	min-height:				calc( 1 / 1 * var(--dim) );	
}

/* specific tiles in home*/


@media (max-width: 50rem) {
	.welcome 		{ flex:	1 1 100%;	}
	.claim 			{ flex:	1 1 0; 		}
	.newsletter		{ flex:	1 1 0; 		}
	.goals 			{ flex:	1 1 100%;	}
	.network		{ flex:	1 1 0; 		}
	.presentation	{ flex:	1 1 0; 		}
	section.half			{ 
			flex:		1 1 100% 	!important;
			max-width: 	100% 		!important;
	}
}


@media (min-width: 50rem) {
	.welcome 		{ flex:	1 1 40%;			}
	.claim 			{ flex:	0 0 var(--dim); 	}
	.newsletter		{ flex:	0 0 var(--dim); 	}
	.goals 			{ flex:	1 1 40%;			}
	.network		{ flex:	1 0 var(--dim); 	}
	.presentation	{ flex:	1 0 var(--dim); 	}
}

@media (min-width: 75rem) {
	.welcome 		{ flex:	1 1 calc(1.5 * var(--dim));	}
	.claim 			{ flex:	0 0 var(--dim); 			}
	.newsletter		{ flex:	0 0 var(--dim); 			}
	.goals 			{ flex:	1 1 calc(1.5 * var(--dim));	}
	.network		{ flex:	0 0 var(--dim); 			}
	.presentation	{ flex:	0 0 var(--dim); 			}	
}



.tiles .goals {
	flex-direction:			row;	
	justify-content:		space-between;
	display:				flex;
	flex-wrap:				wrap;
	padding:				0;
}

.tiles .goals > :first-child {
	flex:					2 1 45%;
	display:				flex;
	flex-direction: 		column;
	justify-content: 		space-around;
	align-items: 			flex-end;
	text-align: 			right;
	margin:					1rem;	
}

.tiles .goals > :first-child em {
	font-weight:			bold;
	font-style: 			normal;
}

.tiles .goals > :last-child {
	flex:					1 1 13rem;
	box-sizing: 			border-box;	
	padding:				3rem 2rem;
	min-height:				10rem;
}




/** loose tiles **/

.loose .tiles {
	justify-content: 		space-evenly;		
}

.loose .tile {
	border-width:			0;
	margin:					1rem;
}

@media (max-width: 30rem) {

	.loose .tile {
		margin:					0rem !important;
	}
}







/* flex helper */

.flex {
	display:				flex;
	clear:					both;
	align-items:			flex-start;
}


.flex.stretch {
	align-items:			stretch !important;
}

.flex.center {
	align-items:			center !important;
}

.flex > * {
	flex:					1 1 auto;	
	max-width:				max( var(--dim), 50% );	
}

.flex-40 {
	justify-content: 		space-around;	
}

.flex-40 > * {
	flex:					0 0 40%;
	width:					40%;
}

.flex > aside  {
	display:				flex;
	flex:					1 1 auto;
	width:					calc( var(--dim) + 2rem);
	flex-wrap:				wrap;
	align-items:			start;
	max-width:				unset;
}

.flex > aside + * {
	flex:					1 1 calc( 2* var(--dim));
}

.flex > aside > * {
	position:				relative;
	flex:					1 1 calc( 2 /3 * var(--dim) );
	margin-bottom:			1rem;
	max-height:				calc( 2 /3 * var(--dim) );
	object-fit:				cover;
}

@media (max-width: 30rem){
	.flex {
		flex-direction:		column;
	}

	.flex > aside > :not(:first-child){
		display:			none;
	}
}

@media (max-width: 48rem){
	.flex > aside {
		flex:				1 0 100%;
		max-width:			unset;
	}
}

.flex.wrap {
	flex-wrap:				wrap;
}

.flex-col {
	display:				flex;
	flex-direction:			column !important;
	align-items: 			stretch;
}

.flex.gaps {
	margin:					-1rem;
}

.flex.gaps > * {
	margin:					1rem;
}

.break {
	flex-basis:				100% !important;
}

.grow {
	flex-grow:				1 !important;
	max-width:				100% !important;
}

.no-grow {
	flex-grow:				0 !important;
}

.stretch {
	align-items:			stretch;
}

.spacer-cube {
	flex:					0 0 1rem !important;
	height:					1rem !important;
	width:					1rem !important;
}




.ellipsis {
	position:				relative;	
	flex:					1 1 0;
	overflow:				hidden;
	margin-top:				0.5rem;
	margin-bottom:			0;
}

.ellipsis .content{
	width:					200%;
	max-height:				calc(100% - 2rem);
	overflow:				hidden;
	column-count:			2;
}

.ellipsis: a hover {
	border-bottom:			1px solid rgb(var(--contrast));
}

/* inputs */

input {
	display:				block;

	outline:				none;
	border-width:			1px;
	border-style:			solid;
	border-color:			rgba(var(--contrast), 0.8);
	color:					rgb(var(--contrast));
	background-color:		rgba(var(--color), 1);
	margin:					0.5rem 0;
	line-height:			2em;
	padding:				0 0.5rem;
	border-radius:			0.2rem;
	width:					calc(100% - 4rem);
	max-width:				calc(1.00 * var(--dim));
	margin:					1.5rem 0 !important;
}

input:focus {
	border-color:			rgba(var(--color), 0);
	color:					rgb(var(--base-text-color));
	background-color:		rgba(var(--contrast), 0.8);
}

[type="submit"]{
	cursor:					pointer;
}

button {
	display:				block;
	outline:				none;
	border:					none;
	border-radius:			0.2rem;
	background-color:		rgb(var(--contrast));
	color:					rgba(var(--color), 1);
	padding:				0.5rem 2rem;
	margin:					1.5rem 0 !important;
}



/* logos */

.logos {
	display:				flex;
	flex-direction: 		row;
	flex-wrap:				wrap;
	justify-content:		space-between;
	align-items:			stretch;
	--logoH:				5rem;
}

.logos > * {
	flex:					0 0 auto;
	height:					var(--logoH);
	width:					calc(8 / 5 * var(--logoH));
	margin:					0.5rem;
}

.logos > *.extra-wide {
	width:					calc(2 * 8 / 5 * var(--logoH));
}

.logos > * > img {
	object-fit: 			contain;
	object-position:		50% 50%;
	height:					100%;
	width:					100%;
}


/* team */


.with-profile {
	display:				flex;
	flex-wrap:				wrap;
	justify-content:		space-around;
	align-items:			stretch;
	margin-top:				0;
	margin-left:			1rem;
	margin-right:			1rem;
	margin-bottom:			2rem;	
}

.with-profile > * {
	min-width:				var(--dim);
}

.with-profile > :first-child {
	flex:					0 0 auto;
	margin:					0;
	margin-right:			4rem;
}

.with-profile > :last-child {
	flex:					1 0 0;	
	max-width:				50rem;
	text-align:				justify;
}

.with-profile > :last-child:before,
.with-profile > :last-child:after {
	display:				none;
	font-size:				6rem;	
	line-height:			0;
	margin-top:				3rem;
	margin-bottom:			-0.5rem;
}

.with-profile.quotes > :last-child:before,
.with-profile.quotes > :last-child:after {
	display:				block;
}


.with-profile > :last-child:before {
	content:				'“';
}

.with-profile > :last-child:after {
	content:				'”';
	text-align:				right;
}

.with-profile > :last-child > * {
	padding:				0;
}

.with-profile > :last-child > * :first-child {
	margin-top:				0 !important;
}


.with-profile > :last-child > * :last-child {
	margin-bottom:			0 !important;
}




@media (max-width: 48rem){
	.with-profile {
		margin:				0rem;
	}

	.with-profile > * {
		flex:				1 1 100% !important;
		margin:				1rem 0 !important;
	}


}

@media (min-width: 48rem){
	.with-profile.flip > :first-child {
		order:					1;
		margin-right:			0rem;
		margin-left:			4rem;

	}

	.with-profile.flip > :last-child {
		order:					0;
	}
}




/* projects */

.project p {
	line-height:			1.2em !important;
}


/* footer */

footer {
	background-color:		rgb(var(--color));	
	color:					rgb(var(--contrast));
	padding:				1rem 0;	
	line-height:			2em;
	font-size:				0.85rem;
}

footer .content-max {
	display:				flex;
	justify-content: 		space-between;
	flex-wrap:				wrap;
	min-height:				calc(0.5 * var(--dim) );
	padding:				0 1rem !important;
}

footer .content-max > * {
	box-sizing:				border-box;
	flex:					0 1 auto;
	max-width:				calc(0.66 * var(--dim));
	margin-bottom:			1rem;
}

footer .content-max > * > * {
	margin:					0;
}

footer .content-max > :last-child {
	max-width:				calc(2.0 * var(--dim));
}

