<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<base href ="{{ site.baseurl }}/">
		<meta name="viewport" content="width=device-width, minimum-scale = 1.0, initial-scale=1.0">
		<link rel="stylesheet" href="assets/styles.css"> 
		<script type="text/javascript" src="assets/scripts.js"></script>
	</head>

	<body>

		{% include header.html %}
		
		<div class ="content-max">
			{{content}}
		</div>

		{% include footer.html %}
	</body>
	
</html>