---
layout: default
---

{% assign id 		= page.author | prepend : "/individuals/" %}
{% assign author 	= site.individuals | find: 'id', id %}


<section 
	class 	= "loose"
>
	{% include project_preview.html project=page class="tile box high scd large"%}

	<br/>

	<div class ="with-profile">
		{% include profile.html individual=author long=true class="scd cap_w_dim" %}

		<div class ="grow">
			<article>
			{{page.content}}
			</article>
		</div>
	</div>
</section>