<article class ="flex wrap gaps">
	<aside class = "cap_w_2_3 cap_h_2_3">
		{% if page.image %}
			<a href ="{{page.link}}">
				<img class = "cap_w_2_3 cap_h_2_3 contain"  src ="assets/images/{{page.image}}"/>		
			</a>
		{% endif %}
	</aside>
	<div class = "grow">
		<h2><a href = "{{page.link}}">{{page.title}}</a></h2>
		{{page.content}}
	</div>
</article>

